{
  "swagger" : "2.0",
  "info" : {
    "description" : "An API for keeping track of your contacts and the companies they work for. \n",
    "version" : "1.2.0",
    "title" : "Contacts API EU V1",
    "termsOfService" : "",
    "contact" : { }
  },
  "host" : "fr71lr1.eu.api-mocks.com",
  "schemes" : [ "https" ],
  "consumes" : [ "application/json" ],
  "produces" : [ "application/json" ],
  "paths" : {
    "/contacts/" : {
      "get" : {
        "tags" : [ "Contacts" ],
        "summary" : "Get the list of Contacts",
        "description" : "Loads a list of Contact",
        "parameters" : [ {
          "name" : "$size",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "description" : "Size of the page to retrieve.",
          "x-example" : 10
        }, {
          "name" : "$page",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "description" : "Number of the page to retrieve.",
          "x-example" : 1
        }, {
          "name" : "$sort",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "Order in which to retrieve the results. Multiple sort criteria can be passed.",
          "x-example" : "birthday DESC"
        }, {
          "name" : "firstName",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "Allows to filter the collections of result by the value of field firstName",
          "x-example" : "John"
        }, {
          "name" : "lastName",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "Allows to filter the collections of result by the value of field lastName",
          "x-example" : "Doe"
        }, {
          "name" : "active",
          "in" : "query",
          "required" : false,
          "type" : "boolean",
          "description" : "Allows to filter the collections of result by the value of field active",
          "x-example" : true
        }, {
          "name" : "company",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "Allows to filter the collections of result by the value of field company",
          "x-example" : "0e8c9fb0-ad98-11e6-bf2e-47644ada7c0f"
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "headers" : {
              "X-Page-Count" : {
                "type" : "integer",
                "x-example" : 1
              },
              "X-Page-Number" : {
                "type" : "integer",
                "x-example" : 1
              },
              "X-Page-Size" : {
                "type" : "integer",
                "x-example" : 25
              },
              "X-Total-Count" : {
                "type" : "integer",
                "x-example" : 2
              }
            }
          },
          "400" : {
            "description" : "Status 400"
          }
        }
      }
    },
    "/contacts/{contactid}" : {
      "get" : {
        "tags" : [ "Contacts" ],
        "summary" : "Load an individual Contact",
        "description" : "Loads a Contact",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Status 200"
          },
          "400" : {
            "description" : "Status 400"
          }
        }
      },
      "parameters" : [ {
        "name" : "contactid",
        "in" : "path",
        "required" : true,
        "type" : "string",
        "description" : "Identifier of the Contact",
        "x-example" : "0e8dd830-ad98-11e6-bf2e-47644ada7c0f"
      } ]
    }
  },
  "securityDefinitions" : {
    "HTTP_BASIC" : {
      "description" : "All GET methods are public, meaning that *you can read all the data*. Write operations require authentication and therefore are forbidden to the general public.",
      "type" : "basic"
    }
  }
}